@model FitTv.ViewModels.VideoViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        @{ 
            int i = 0;
        }
        @foreach (var video in Model.Videos.Reverse())
        {


            if (i == 0)
            {
                <div class="panel-heading heading-2" >
                    <a href="/Player/@video.Url">
                        <img class="img-header" width="100%" height="400" style="object-fit:cover; position: relative; left:0; " src="http://img.youtube.com/vi/@video.Url/0.jpg">
                        <div class="caption">
                            <p style="position:absolute; top:55%;font-size:200%; left:15%;">@video.Description</p>
                        </div>
                    </a>
                </div>
                
            }
            else
            {
                <div class="col-lg-3">

                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="Player/@video.Url">
                            <img width="250" height="200" class="embed-responsive-item" src="http://img.youtube.com/vi/@video.Url/0.jpg">

                            <div class="caption">
                                <p style="position:absolute; left:10%;top:80%;font-size:90%;">@video.Description</p>
                            </div>
                        </a>
                    </div>

                </div>
            }

            if ((i % 4) != 0)
            {
                    <break></break>


            }
            i++;


        }
        </div>

    </div>


