@model FitTv.ViewModels.VideoViewModel
@{
    ViewBag.Title = "Play";
}


    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="420" height="345" src="http://www.youtube.com/embed/@Url?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>


